a {
  text-decoration: none;
  color: #000;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}
.bod {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  flex: 1;
  display: flex;
  flex-direction: row;
  max-width: 100%;
  padding-left: 1%;
  padding-right: 1%;
  margin-bottom: 0;
}

.headerdiv {
  flex: 1;
  display: flex;
  grid-template-columns: 60% 20% 20%;
  align-items: center;
  max-width: 100%;
  height: 50px;
  border: 2px solid #000;
  border-radius: 5px;
  padding-left: 2%;
}

.listItem {
  flex: 1;
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: row;
  border-right: 2px solid #000;
  height: 50px;
}

.item1 {
  flex: 4;
  align-items: center;
}

.item2 {
  text-align: center;
}

.item3 {
  text-align: center;
  border: none;
}

.headtitle {
  flex: 1;
  align-self: center;
  max-width: 80%;
}

.headlist {
  flex: 1;
  align-self: center;
  max-width: 20%;
}

.headadd {
  flex: 1;
}

